<div class="panel panel-default">
  <div class="panel-heading">User List</div>
  <div class="panel-body">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Username</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList; let i = index" [attr.data-index]="i">
                <td>{{user.name}}</td>
                <td>
                    <button (click)="remove(i)" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table> 
  </div>
</div>

<div>
    <h2>Add new user</h2>
    <form name="form" (ngSubmit)="f.form.valid && add(); f.resetForm();" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newUserName.valid }">
            <label for="newUserName">New User Name</label>
            <input type="text" class="form-control" name="newUserName" [(ngModel)]="newUser.name" #newUserName="ngModel" required />
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newUserPassword.valid }">
            <label for="newUserPassword">New User Password</label>
            <input type="password" class="form-control" name="newUserPassword" [(ngModel)]="newUser.password" #newUserPassword="ngModel" required />
        </div>
        <div class="form-group">
            <button [disabled]="!newUserName.valid || !newUserPassword.valid" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>
